block content
  .row.menu-site
    .col-md-12
      .col-md-2
        a(href='index.html')
          img(src='img/menu/logo-track.png')
      .col-md-2
      .col-md-8.options-menu
        ul.nav.pull-right.navbar-nav
          //- li.menu-novedades
          //-   a(title='Novedades', href='https://track.com.co/novedades/') Novedades
          //- li.menu-nuestro-trabajo
          //-   a(title='Nuestro Trabajo', href='https://track.com.co/portafolio/') Nuestro Trabajo
          //- li.menu-que-hacemos
          //-   a(title='¿Qué hacemos?', href='https://track.com.co/servicios/') ¿Qué hacemos?
          //- li.menu-convocatorias
          //-   a(title='Convocatorias', href='https://track.com.co/convocatorias/') Convocatorias
          li.menu-contactenos
            a(title='transmutation', href='transmute-code.html') Transmutar código
          li.menu-contactenos
            a(title='codebar', href='barcode-generator.html') Generar codigos de barras
        //- ul
        //-   li
        //-     a(href='transmute-code.html') Transmutar código
        //-   li.separator
        //-   li
        //-     a(href='transmute-code.html') Transmutar código