extends ./layouts/app
block title
  title Generador codigo de barras

block content
  include ./partials/menu
  .row.bg-mail.bg-codes
    .col-md-12
      h1 Por que generar códigos, ahora es mas fácil
  .container
    .row
      .col-md-12
        p &nbsp;
      .col-md-12
        .col-md-4.col-md-offset-2
          h4 Tipo de generacion
          br
          label.radio-inline
            input#random(type='radio', name='rdbGen', checked)
            | Aleatorio
          label.radio-inline
            input#codes(type='radio', name='rdbGen')
            | Codigos especificos
          hr
        .col-md-4
          h4 Formato de codigo
          br
          label.radio-inline
            input#code128(type='radio', name='rdbCode', checked)
            | CODE128
          label.radio-inline
            input#ean13(type='radio', name='rdbCode')
            | EAN13
          hr
      .col-md-4.col-md-offset-2#randomForm
        .col-md-6
          .form-group
            input#txtCant.form-control(type='number' placeholder='Cantidad')
        .col-md-6
          .form-group
            input#txtLong.form-control(type='number' placeholder='Longitud')
      .col-md-4.col-md-offset-2#codesForm.invisible
        .col-md-12
          .form-group#addCode
            textarea#txtCodes.form-control(placeholder='Codigos')
            br
      .col-md-3.btnGenerar
        button.btn.btn-info#btnGenerar Generar
        br
        button.btn.btn-primary.invisible#btnDescargarPDF Descargar PDF
        br
        button.btn.btn-primary.invisible#btnDescargarZIP Descargar ZIP
      .col-md-12
        p &nbsp;
      .row.visor
        .col-md-1
        .col-md-10#show
        .col-md-1

  include ./partials/footer
