extends ./layouts/app
block title
  title Generador codigo de barras

block content
  include ./partials/menu
  .row.bg-mail
    .col-md-12
      h1 Por que generar códigos, ahora es mas fácil
  .container
    .row
      br
      br
      .col-md-2.col-md-offset-2
        .form-group
          label(for='txtCant')
          input#txtCant.form-control(type='number' placeholder='Cantidad')
      .col-md-2
        .form-group
          label(for='txtLong')
          input#txtLong.form-control(type='number' placeholder='Longitud')
      .col-md-2.btnGenerar
        button.btn.btn-info#btnGenerar Generar
      .col-md-2.btnGenerar
        button.btn.btn-primary.invisible#btnDescargar Descargar
    .row.visor
      .col-md-1
      .col-md-10#show
      .col-md-1

  include ./partials/footer
