extends ./layouts/app
block title
  title Documentos y Archivos

block content
  include ./partials/menu
  .row.bg-mail
    .col-md-12
      h1 Ahora la vida es mas fácil
  .container
    .row
      br
      .col-md-5
        h4 Documentos y archivos de interés
    .row#util
      hr
      .col-md-12
        hr
        .col-md-2
          img.img-responsive(src='img/util/docs.png')
        .col-md-8
          h3 Proyecto base (Prepros v-1 / Bootstrap v-3 / Coffe Script / Jade / Sass)
          p  Esta plantilla es con la que iniciamos nuevos proyectos (incluye estilos por defecto)
        .col-md-1
          br
          a(href='files/templates/proyecto-base.zip', target='_blanck')
            img.img-responsive(src='img/util/download.png')
          h4.center ZIP
      .col-md-12
        hr
        .col-md-2
          img.img-responsive(src='img/util/docs.png')
        .col-md-8
          h3 Documento de estimación Front-End
          p Con este documento se realizan las estimaciones de los proyectos que pasar por el área
        .col-md-1
          br
          a(href='files/documents/cuadro-de-estimacion-front-end.xlsx', target='_blanck')
            img.img-responsive(src='img/util/download.png')
          h4.center EXCEL
      .col-md-12
        hr
        .col-md-2
          img.img-responsive(src='img/util/docs.png')
        .col-md-8
          h3 Estilos por defecto (CSS & SASS)
          p Estos son estilos básicos que usamos para proyectos que se realizan de cero en el área
        .col-md-1
          br
          a(href='files/css/default-style/dist/default-style.css', target='_blanck')
            img.img-responsive(src='img/util/download.png')
          h4.center CSS
        .col-md-1
          br
          a(href='files/css/default-style/src/default-style.sass', target='_blanck')
            img.img-responsive(src='img/util/download.png')
          h4.center SASS
  //- include ./partials/footer