extends ./layouts/app


block title
  title Inicio

block content
  include ./partials/menu
  #homee
    .container
      br
      h1 Una herramienta diseñada por y para nosotros
  .container
    .row
      .col-md-12.separator
        h2 Front - End Developer Group
      .col-md-12
        p &nbsp;
    .background
      .background
        .img.img1
      .background
        .img.img2
      .background
        .img.img3
    .row
      .col-md-12.separator
        h2 Herramientas para el mundo
      .col-md-12
        p &nbsp;
      .col-md-4.apps
        .app
          img(src='img/util/html5.png')
          h3 HTML5
      .col-md-4.apps
        .app
          img(src='img/util/css3.png')
          h3 CSS3
      .col-md-4.apps
        .app
          img(src='img/util/js.png')
          h3 JavaScript
  //- include ./partials/footer